@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*-------------------------------shah's template------------------------------*/
#templatearea {
	margin: auto;
  width: 595px;
  height: 842px;
  background-color: white;
}

#templatebox {
	margin: auto;
	padding-top: 180px;
	text-align: center;
	font-size: 1.2em;
}

.edittemplatebox{
  background-size: 100% 100%;
  width: 380px; height: 500px;
  margin-bottom: 70px;
  font-size: 0.8em;
}

div.template {
  line-height: 70px;
}

.greetingsList{
  width: 300px; height: 210px;
  display: block;
  margin-top: 10px; margin-left: auto; margin-right: auto;
  text-align: center;
}

#greeting1:hover, #greeting2:hover,
#greeting3:hover, #greeting4:hover{
  background-color: grey;
  color: #D1ddd9;
}

#nameOutput{
  font-size: 30px;
  font-weight: bold;
}

.selection{
  width: 280px; height: 220px;
  margin-top: 20px; margin-left: auto; margin-right: auto;
  text-align: center;
  border: 2px solid;
}

.selection h3{
  font-size: 1.3em;
}

.selection img{
  display: inline-block;
  margin-left: 5px;
  width: 100px; height: 140px;
}

.selection img:hover{
  border: 2px solid black;
}

.selection{
  margin-top: 10px;
}

#templatebox{
	text-align: center;
}

.birthday{
	font-family: 'Lobster', cursive;
	font-size: 50px;
}

.time{
	/* font-family: 'Architects Daughter', cursive;
	font-family: 'New Tegomin', serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 7vh;
	font-weight: bold;
}

.normaltext{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 5vh;
}

.location{
	font-family: 'Architects Daughter', cursive;
	font-size: 30px;
	line-height: 7vh;
}

/*----------------------------------------------------------------------------*/
body {
	background-image: url(./img/Background.png);
  background-repeat: no-repeat center fixed;
  background-size: cover;
  /* background-position: top center; */
  position: relative;
  z-index: 1;

}
/*----------------------------------------------------------------------------*/

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.08fr 0.08fr 1fr 0.09fr;
  grid-template-areas:
  "header header header header"
  "Text Title Title Title"
  "Text Form Form Form"
  "Footer Footer Footer Footer";
  /* grid-gap:7rem; */
}
/*----------------------------------HEADER------------------------------------*/

#header{
  grid-area:header;

}

.box {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.brand h1 {
	font-size: 2rem;
	text-transform: uppercase;
	color: white;
  margin-left: 20px;
}
.brand h1 span {
	color: crimson;
}


#header .header{
  min-height: 8vh;
  background-color:rgba(31, 30, 30, 0.24);
}

#header .nav-bar{
  display:flex;
  align-items:center;
  justify-content: space-between;
  width:100%;
  height: 100%;
  padding:0 10px;
}

#header .nav-list ul{
  list-style: none;
  position: absolute;
  background-color:rgba(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left:100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  z-index:1;
  overflow-x:hidden;
}

/*Header.active show when click-----------------------------------------------*/
#header .nav-list ul.active{
  left:0;
  transition: .7s ease left;
}
/*End Header.active-----------------------------------------------------------*/

#header .nav-list ul a{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing:.2rem;
  text-decoration: none;
  color:white;
  text-transform:uppercase;
  padding:20px;
  display:block;
}
/*Hover-----------------------------------------------------------------------*/
#header .nav-list ul a::after{
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index:-1;
  transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a{
  color:crimson;
}

/*hamburger menu--------------------------------------------------------------*/
#header .hamburger{
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:100;
  cursor: pointer;
  transform: scale(.7);
  margin-right: 20px;
}
/*hamburger css pulse + keyframes---------------------------------------------*/
#header .hamburger:after{
  position: absolute;
  content: '';
  height: 100%;
  width:100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
/*end hamburger css pulse-----------------------------------------------------*/
#header .hamburger .bar{
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after{
  top:8px;
}

#header .hamburger .bar::before{
  bottom:8px;
}

/*hamburger active------------------------------------------------------------*/
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}

/*--------------------------------END HEADER----------------------------------*/

/*-----------------------------------Text-------------------------------------*/
#Text{
  grid-area:Text;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  background: linear-gradient(to right, cyan, lightpink);
}

p{
  width: 400px;
}

.TextBox{
	background: #ccc;
	border: 2px solid;
	border-radius: 5%;
	padding: 20px;
	text-align: center;
	background: linear-gradient(to right, cyan, lightpink);
}

/*---------------------------------END Text-----------------------------------*/

/*-----------------------------------Title------------------------------------*/
#Title{
  grid-area:Title;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  background: linear-gradient(to right, cyan, lightpink);
}

/*----------------------------------Title-------------------------------------*/


/*-----------------------------------Form-------------------------------------*/
#Form{
  grid-area:Form;
  border: 1px solid;
  background-color:rgba(31, 30, 30, 0.90);
}
/*---------------------------------END Form-----------------------------------*/

/*----------------------------------Footer------------------------------------*/
#Footer{
  grid-area:Footer;
  width: 100%;
  bottom: 0;
  color: White;
  background-color:rgba(31, 30, 30, 30);
  text-align: center;
}

h3{
  display: block;
  margin-block-start:1em;
  margin-block-end:1em;
  margin-inline-start:1em;
  margin-inline-end:1em;
}
/*--------------------------------END Footer----------------------------------*/

/*---------------------------------KEYFRAME-----------------------------------*/
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
/*-------------------------------END KEYFRAME---------------------------------*/

/*----------------------------------MOBILE------------------------------------*/
@media only screen and (max-width:600px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 2.2fr 0.8fr 0.2fr;
    grid-template-areas:
    "header"
    "Title"
    "Form"
    "Text"
    "Footer";
  }

  #Title{
    font-size: 1em;
  }

	#templatearea{
		height: 500px;
		width: 370px;
	}

	#templatebox{
		font-size: 1.2em;
		padding-top: 90px;
	}

	.birthday{
		font-size: 30px;
	}

	.time{
		font-size: 20px;
		line-height: 1vh;

	}

	.normaltext{
		font-size: 10px;
		line-height: 5vh;
	}

	.location{
		font-size: 20px;
		line-height: 4vh;
	}
/*-------------------------------END MOBILE-----------------------------------*/

/*---------------------------------DESKTOP------------------------------------*/

@media only screen and (min-width:1200px){
  #header .hamburger{
    display: none;
  }
  #header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color:transparent;
  }
  #header .nav-list ul a:after{
    display: none;
  }
  #header .nav-list ul li{
    display: inline-block;
  }
  #header .nav-list ul li{
    font-size: 1.8rem;
  }
  #header .nav-list ul:after{
    display: none;
  }
}
/*-------------------------------END DESKTOP----------------------------------*/
